.app-wrapper{
  display: grid;


  grid-template-areas:
    "nav head"
    "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.app-wrapper-content {

  grid-area: cont;
  background-color: aquamarine;

}

