.dialogs {
    display: grid;

    grid-template-areas:
            "di mes"
            "di text";
    grid-template-columns: 2fr 10fr;

}

.dialogs-items{
    grid-area: di;
}

.messages{
    overflow: auto;
    max-height: 600px;
    grid-area: mes;
    border: 5px solid red;

}

.textBox{
    grid-area: text;
}
