.dialogs {
    display: grid;

    grid-template-areas:
            "di mes";
    grid-template-columns: 2fr 10fr;

}

.dialogs-items{
    grid-area: di;
}

.messages{
    grid-area: mes;
    border: 5px solid red;

}
